/*                               ()_()                   
                                 (. .)                  
/----------------------------oo0--(_)--0oo-------------------------------------/

/---   ANIMATIONS    ANIMATIONS    ANIMATIONS    ANIMATIONS    ANIMATIONS   ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
@keyframes stay {
    to      { opacity: 1; }
}

@keyframes fadeOut {
    to      { opacity: 0; }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
    to      { transform: translateX(100%); }
}

@keyframes fadeIn {
    from    { opacity:0; }
    to      { opacity: 1; }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}