/*                               ()_()                   
                                 (. .)                  
/----------------------------oo0--(_)--0oo-------------------------------------/

/---     FIGURE     FIGURE     FIGURE     FIGURE     FIGURE     FIGURE      ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
figure {
    
    img {
        width: 100%;
    }
    
    figcaption {
        background-color: #F5F5F5;
        margin-top: 15px;
        padding: 15px;
        font-size: 14px;
        color: #666666;
    }
}
