/*-----------------------------------
   1 ) Font Import From Google Fonts
  -----------------------------------*/

/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500);*/
/*@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

@font-face {
    font-family: 'Khand-Semibold';
    src: url(../fonts/Khand-Semibold.ttf)
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url(../fonts/TitilliumWeb-Regular.ttf)
}

