/*-----------------------------------
   1 ) Font Import From Google Fonts
  -----------------------------------*/

@import 'https://fonts.googleapis.com/css?family=Khand:600|Titillium+Web';

/*
@font-face {
    font-family: 'Khand-Semibold';
    src: url(../fonts/Khand-Semibold.ttf)
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url(../fonts/TitilliumWeb-Regular.ttf)
}*/

