/*                               ()_()                   
                                 (. .)                  
/----------------------------oo0--(_)--0oo-------------------------------------/

/----    FONTS    FONTS    FONTS     FONTS     FONTS     FONTS     FONTS    ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
@import 'https://fonts.googleapis.com/css?family=Khand:600|Titillium+Web';

/*
@font-face {
    font-family: 'Khand-Semibold';
    src: url(../fonts/Khand-Semibold.ttf)
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url(../fonts/TitilliumWeb-Regular.ttf)
}*/

