/*                               ()_()                   
                                 (. .)                  
/----------------------------oo0--(_)--0oo-------------------------------------/

/----   PRELOADER     PRELOADER     PRELOADER     PRELOADER     PRELOADER   ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1b23;
    z-index: 10000;
    
    &.on-load {
        animation: fadeOut 1.5s 1s;
    }
}

.loader {
    position: absolute;
    width: 42px;
    height: 42px;
    -webkit-animation: preloader_6 5s infinite linear;
    animation: preloader_6 5s infinite linear;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;

    span {
        width: 20px;
        height: 20px;
        position: absolute;
        background: red;
        display: block;
        -webkit-animation: preloader_6_span 1s infinite linear;
        animation: preloader_6_span 1s infinite linear;

        &:nth-child(1) {
            background: #2ecc71;
        }

        &:nth-child(2) {
            left: 22px;
            background: #9b59b6;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        &:nth-child(3) {
            top: 22px;
            background: #3498db;
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        &:nth-child(4) {
            top: 22px;
            left: 22px;
            background: #f1c40f;
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }
    }
}